/*Todo*/
*{
    scroll-behavior: smooth;
}
/*Cuerpo*/
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: white;
}
/*Header*/

#body-burger{
    background-color: black;
    text-align: center;
}

.offcanvas-header{
    background-color: black;
}

.offcanvas-header .logo{
    text-align: center;
}

#contenedor-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;    
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-width: 1px;
    height: 85px;

}

.btn{
    background-color: green;
}

#buscar{
    width: 325px
}
.header{
    height: 75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;    
    width: 103%;
    position: fixed;
    border-bottom-style: solid;
    border-width: 1px;
}  
.logo{
    display: flex;
    align-items: center;
    text-align: right;
}
.logo img{
    width: 55%;
    height: auto;
}

.navbar{
    align-items: center;
    padding-left: 40px;
    height: 13%;
}

.contacto{
    margin-top: 62%;
}

.contacto p{
    padding-left: 28px;
}

.contacto p:hover{
    color: green;
}

.navbar a{
    padding-right: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar li{
    padding-left: 30px;
}
.navbar a:hover{
    color: green;
}
.user-cart{
    align-items: center;
}
.user-cart a{
    margin-left: 7px;
    padding-left: 20px;
}
.user-cart img{
    height: 25px;
}

/*CONTENIDO*/
#datos{
    margin: auto;
    text-align: center;
}

/*FOOTER*/
.rs{
    align-items: center;
}
.rs a img{
    height: 20px;
}
.footer {
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.footer p {
    font-size: 14px;
    margin: 0;
}
#confirmar{
    width: 20px;
}