body {
    background-color: #f8f9fa;
}
.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}
img{
    width: 150px;
}
.sidebar a {
    color: black;
    display: block;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sidebar a:hover {
    background-color: limegreen;
}
.container-fluid{
    margin-top: 90px;
}
/*sesion*/
.usuario-info {
    padding: 15px;
    border-top: 3px solid #1b3a1b;
    background-color: transparent;
    color: #333;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 20px;
}

.logout-icon {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
}

.logout-icon:hover {
    color: #e74c3c;
}
/*Burger*/
#body-burger{
    background-color: #f8f9fa;
    text-align: center;
}

.offcanvas-header{
    background-color: #f8f9fa;
}

.offcanvas-header .logo{
    text-align: center;
}

#contenedor-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;    
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-width: 1px;
    height: 85px;

}

.header{
    height: 75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;    
    width: 103%;
    position: fixed;
    border-bottom-style: solid;
    border-width: 1px;
}  
.logo{
    display: flex;
    align-items: center;
    text-align: right;
}
.logo img{
    width: 55%;
    height: auto;
}

.navbar{
    align-items: center;
    padding-left: 40px;
    height: 13%;
}

.navbar a{
    padding-right: 5px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.navbar li{
    padding: 10px;
}
.navbar .nav-link:hover{
    background-color: limegreen;
}
.nav-link{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.boton{
    padding-top: 70px;
    text-align: right;
    color: green;
}

#botonregis{
    background-color: green;
}

#botonprinci{
    background-color: green;
    color: white;
    
}

#botonfiltrar{
    background-color: green;
    color: white;
    
}

.botonprinci{
    text-align: center;
}
/*Tabla*/
.tabla{
    padding: 30px;
}
h2{
    padding-left: 30px;
}

p{
    font-size: 50px;
}

.propro{
    text-decoration: none;
    color: white;
}